.toggle-button{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 20px;
}
.is-toggled{
    background-color: rgb(230, 230, 230);
    color: black;
}